body {
    font-family: sans-serif;
    background-color: forestgreen;
}

.unselected {
    border: 4px solid lime;
    color: white;
    text-decoration:none;
    padding:5px;
    margin:5px;
    border-radius: 10px;
}

.selected {
    border: 4px solid lime;
    background-color:forestgreen;
    color:white;
    text-decoration: underline;
    padding:5px;
    margin:5px;
    border-radius: 10px;
}

.center {
    text-align:center
}

.navc {
    padding:10px;
    margin:10px;
    background-color:forestgreen;
    border: 3.5px solid lime;
    border-radius: 10px;
}

header {
    text-align:center;
    border:4px solid lightgreen;
    background-color:lightgreen;
    color:forestgreen;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

a {
    color:darkgreen;
}

footer {
    border:4px solid lightgreen;
    background-color:lightgreen;
    color:forestgreen;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

main {
    border:4px solid lightgreen;
    background-color:lightgreen;
    color:forestgreen;
    border-radius:10px;
    padding:10px;
    margin:10px;
}
