body {
    font-family: sans-serif;
    background-color: forestgreen;
}

.unselected {
    border: 4px solid #4343A6;
    color: #4343A6;
    text-decoration:none;
    padding:10px;
    margin:10px;
    border-radius: 10px;
}

.selected {
    border: 4px solid #4343A6;
    background-color:#4343A6;
    color:white;
    text-decoration: underline;
    padding:10px;
    margin:10px;
    border-radius: 10px;
}

.center {
    text-align:center
}

.navc {
    padding:10px;
    margin:10px;
    background-color:lightskyblue;
    border: 7px solid lightskyblue;
    border-radius: 10px;
}


header {
    text-align:center;
    border:4px solid lightgreen;
    background-color:lightgreen;
    color:forestgreen;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

a {
    color:darkgreen;
}

footer {
    border:4px solid lightgreen;
    background-color:lightgreen;
    color:forestgreen;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

main {
    border:4px solid lightgreen;
    background-color:lightgreen;
    color:forestgreen;
    border-radius:10px;
    padding:10px;
    margin:10px;
}
